body {
  font-family: "Oxanium";
  background-color: #000000;
  color: #ffffff;
}

body::before {
  content: "";
  background-image: url(../imagens/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

/* ========section 1==========*/
.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.selecao-de-personagens {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.selecao-de-personagens .lista-de-personagens {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.selecao-de-personagens .personagens {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid #47f4ff;
  width: 100%;
  text-align: center;
}

.lista-de-personagens .personagem img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
}

.lista-de-personagens .selecionado {
  box-shadow: 0px 0px 24px 5px #0271f7;
  border-radius: 100%;
  border-bottom: 2px solid #47f4ff;
}

/* ======section2=======*/
.personagem-selecionado {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 25px;
  text-align: center;
}

.personagem-selecionado .personagem-grande {
  width: 300px;
  height: 300px;
}

.personagem-selecionado .nome-personagem {
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid #47f4ff;
}

.personagem-selecionado .descricao-personagem {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-top: 10px;
  width: 600px;
  height: auto;
}

/* Esconde os botões de navegação por padrão (em telas grandes) */
.botoes-navegacao {
  display: none;
}
